* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

body {
    background-color: rgb(186, 207, 250);
}

.header-title {
    color: rgb(243, 31, 31);
    font-size: 42px;
}

header {
    text-align: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: aqua;
    justify-content: space-between;
    
}

.menu-bar {

    background-color: #e40d0d;
    padding: 2%;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    justify-content: space-between;

}
    
    
   
