* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

body {
    background: linear-gradient(to right top, #65dfc9, #066079);
    width: 100%;
    height: 25%;
}

.header-title {
    color: rgb(64, 67, 240);
    font-size: 42px;
}

header {
    text-align: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: aqua;
    justify-content: space-between;
    
}

.menu-bar {

    background-color: rgb(64, 67, 240);
    margin-top: 0;
    padding: 1%;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    justify-content: space-between;
    align-items: center;

}

.home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.article-home {
   
}

.content h2 {
    color: coral;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    
    
   
